<td><%= text_field :prod_code, 'prod_code', :size => 7, :maxlength => "8", :class => "form-control input-sm" %></td>
<td><%= text_field :lot_no, 'lot_no', :size => 18, :maxlength => "20", :class => "form-control input-sm"  %></td>
<td><%= text_field :exp_date, 'exp_date', :size => 7, :maxlength => "8", :class => "form-control input-sm"  %></td>
<td><%= label :prod_desc, 'prod_desc', "Fluimucil 600mg Effer asdasdasdas",:class => "panel panel-default" %></td>
<td><%= text_field :order_qty, 'order_qty', :size => 9, :maxlength => "10", :class => "form-control input-sm"  %></td>
<td><%= text_field :prod_price, 'prod_price', :size => 10, :maxlength => "10", :class => "form-control input-sm"  %></td>
<td><%= text_field :prod_disc, 'prod_disc', :size => 2, :maxlength => "2", :class => "form-control input-sm"  %></td>
<td><%= text_field :amount, 'amount', :size => 10, :maxlength => "10", :class => "form-control input-sm"  %></td>
<td><button class="btn btn-warning btn-lg" id="add" title="Add Item"><span class="icon-add"></span></button></td>
<td><button class="btn btn-danger btn-lg" title="Delete Item"><span class="icon-trash"></span></button></td>